//DESKTOP
@media (min-width:1024px){
//GRID INDEX
.GridIndex{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;}

    header, footer{display: flex;}
//GRID MAIN INDEX
.GridMainIndex{display: grid;
    grid-template-areas: 
    "imgencabezado imgencabezado imgencabezado imgencabezado"
    "titulo titulo titulo titulo"
    "img1 img2 img3 img4"
    "subtitulo subtitulo subtitulo subtitulo"
    "formularioIndex formularioIndex mapa mapa";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5,auto);  

}
.imgencabezado{grid-area: imgencabezado;}
    .titulo{grid-area: titulo;}
    .img1{grid-area: img1;}
    .img2{grid-area: img2;}
    .img3{grid-area: img3;}
    .img4{grid-area: img4;}
    .subtitulo{grid-area: subtitulo;}
    .formularioIndex{grid-area: formularioIndex;}
    .mapa{grid-area: mapa;} 
.just-cont-spa-bt{justify-content: space-between;}
a{
padding: 10px;
margin: 5px;}
}


//NESTING

header{
    nav{
        padding:10px;
        ul{
            display: flex;
            li{list-style-type: none;
                a{
                    text-decoration: none;
                    color: $colorTerciario;
                    font-size: 15px;
                    font-family: Arial, Helvetica, sans-serif;
                    &:hover{
                        color: $colorPrincipal;
                    }       
                    
                }
            }
        }
    }
}
.formularioIndex{justify-self: center;}
.mapa{align-self: stretch;}
