@media (max-width: 786px) {
header, main, footer{display: flex;
flex-direction: column;
align-items: center;}

}
.subtitulo{text-align: center;}
.copy-r{align-items: center;}

header{
    nav{
        padding: 5px;
        ul{
            display: flex;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: $colorTerciario;
                    font-size:15px;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 5px;
                    &:hover{
                        color: $colorPrincipal;
                    }
                }
            }
        }
    }
}
